<!--Start Container-->
<div class="container " style="text-align: start;" >
    <h3 class="text-center" style="color:indianred;margin-top: 15px;margin-bottom:20px;margin-right: 150px;">{{'add-class'|translate}}</h3>
  <hr/>
    <!--Start Form-->
    <form #classForm="ngForm" [formGroup]="addForm" (ngSubmit)="addClass()">
      <!--Start Row-->
    <div class="row">
             
        
      <div >
        <img src="assets/images/classroom.jpg" width="400px" height="400px"/>
    </div>
        <div class="col-sm-6">
    
    



        <div style="display:none"  class="alert messagesuccess alert-success">{{'added-successfully'|translate}}</div>
            <div style="display:none"  class="alert messageerror alert-danger">{{'not-added-successfully'|translate}}</div>


<!--Start classname group-->

            <div class="form-group">
              <div >
                <label>{{'class-name'|translate}}</label>
    
                  <input type="text"formControlName="name" ngModel [(ngModel)]="myClass.name"  class="form-control" autofocus>
              </div>
              <div *ngIf="addForm.get('name').touched &&addForm.get('name').errors?.required"   class="alert alert-danger  margin" style="text-align: start;">{{'required-class-name'|translate}}</div>
      
          </div>
  
  
            <!--Start Class Floor group-->
  
      <div class="form-group">
          <div>
            <label>{{'class-floor'|translate}}</label>

              <input type="number"formControlName="floor" ngModel [(ngModel)]="myClass.floor"  class="form-control">
          </div>
          <div *ngIf="addForm.get('floor').touched &&addForm.get('floor').errors?.required"   class="alert alert-danger  margin" style="text-align: start;">{{'required-floor'|translate}}</div>
  
      </div>
  
                <!--End Class Floor  group-->
  
           
  
              <!--Start class max  group-->
  

              <div class="form-group">
                <div>
                    <label>{{'class-max-size'|translate}}</label>

                    <input type="number" formControlName="maxSize" ngModel [(ngModel)]="myClass.maxSize" class="form-control">
                </div>
                <div *ngIf="addForm.get('maxSize').touched &&addForm.get('maxSize').errors?.required"   class="alert alert-danger  margin" style="text-align: start;">{{'required-max'|translate}}</div>
        
            </div>  
      
  
              <!--End class max Group-->
  
  
                          <!--Start class current size-->
  
  
                          <div class="form-group">
                            <div>
                                <label>{{'class-current-size'|translate}}</label>
                                <input type="number" formControlName="currentSize" ngModel [(ngModel)]="myClass.currentSize"  class="form-control">
                            </div>
                            <div *ngIf="addForm.get('currentSize').touched &&addForm.get('currentSize').errors?.required"   class="alert alert-danger  margin" style="text-align: start;">{{'required-current'|translate}}</div>
                    
                        </div>  
                  
  
  
                            <!--End class current size-->
  

  </div>
  </div>
      <!--End row-->
  <hr/>
      <button  style="margin:auto;margin-bottom: 5px;display:block;" [disabled]="classForm.invalid" class="btn btn-danger">{{'add-class'|translate}}</button>
      <button  routerLink="/list-class" style="margin:auto;display:block;"  class="btn btn-secondary">{{'class-list-return'|translate}}</button>

    </form>
   
    <!--End form-->
     </div>
    
     <!--End Container-->