<div class="container text-center">
    <h2 class="text-center">{{'class-list'|translate}}</h2>
    <div style="display:none"  class="alert messagesuccess alert-success">{{'DELETEDSUCCESSFULLY'|translate}}</div>
    <div style="display:none"  class="alert messageerror alert-danger">{{'NOTDELETEDSUCCESSFULLY'|translate}}</div>

    <table class="table table-bordered table-hover table-stripped">
        <thead class="thead-dark">
          <tr class="text-center">
            <th scope="col">{{'id'|translate}}</th>
            <th scope="col">{{'class-name'|translate}}</th>
            <th scope="col">{{'class-floor'|translate}}</th>
            <th scope="col">{{'class-max-size'|translate}}</th>
            <th scope="col">{{'class-current-size'|translate}}</th>
            <th colspan="3" class="text-center" scope="col">{{'ACTIONS'|translate}}</th>
    
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let class of classes | paginate:{id:'listing_pagination',
          itemsPerPage:5,
        currentPage:page,totalItems:totalRecords} " class="text-center">
            <th scope="row">{{class.id}}</th>
            <td>{{class.name}}</td>
            <td>{{class.floor}}</td>
            <td>{{class.maxSize}}</td>
            <td>{{class.currentSize}}</td>
            <td ><button class="btn btn-warning" (click)="updateClass(class.id)" >{{'update'|translate}}</button></td>
            <td ><button class="btn btn-primary" (click)="detailsClass(class.id)" >{{'details'|translate}}</button></td>
            <td ><button class="btn btn-danger" (click)="deleteClass(class.id)" >{{'delete'|translate}}</button></td>
    
          </tr>
          
          
        </tbody>
      </table>
      <div>
        <pagination-controls nextLabel="{{'next-label'|translate}}" previousLabel="{{'previous-label'|translate}}"   id="listing_pagination" maxSize="1" directionLinks="true" (pageChange)="page=$event"></pagination-controls>
      </div>
      <div  class="container text-center oprations">
          <button class="btn btn-success" routerLink="/add-class">{{'add-class'|translate}}</button>
          <button class="btn btn-primary" routerLink="/search-class">{{'search-class'|translate}}</button>
      </div>

      </div>
